[Desktop Entry]
Version=1.0
Type=Application
Name=Xkill
Comment=Click to kill a frozen program
Exec=xkill
Icon=xfce-wm-close
Path=
Terminal=false
StartupNotify=false
